# npm

**/node_modules
# **/package-lock.json
**/*.log
**/*.gz
**/.vscode

redbici-front/node_modules
# redbici-front/package-lock.json
redbici-front/*.log
redbici-front/*.gz
redbici-front/.vscode/*

.env
crud/.env
auth-ms/.env